<!DOCTYPE html>
<html>
  <head>
    <title>The Blog</title>
  </head>

    <body>

      <h1>The Blog</h1>
        <h2>Add Post</h2>
    <div>




    <form action ="/edit/post" method="POST">
      Post#:
      <input type="text" name="blog_id"></input><br>
      Title:
      <input type="text" name="title"></input><br>
      Date:
      <input type="text" name="date"></input><br>
      Author:
      <input type="text" name="author"></input><br>
      Post:
      <textarea name="content" style="width:250px;height:150px; wrap=physical rows="10" cols="2"></textarea>
      <br><input type="submit" value="Submit">
      <br><input type="reset"  value="reset">
    </form>
  </body>
</html>